<% include ../partials/header.ejs %>

<% if(typeof msg !== "undefined") { %>
<%= msg %>
<% } %>

<h3>Login</h3>
<form id="login_form" action="/authenticate" class="col-md-4">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="form-control" />

    <br />

    <label for="password">Password</label>
    <input type="password" name="password" id="username" class="form-control" />

    <br />

    <button id="login_btn" class="btn btn-primary">Login</button>
</form>

<% include ../partials/footer.ejs %>