<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/schools/?school_id=<%= rs[i].schoolId %>"> <%= rs[i].schoolName %> </a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No accounts are entered into the Account database table.
    <% } %>
</div>

<!--div style="margin-top:10px;">
    <a href="/account/create">Create New Account</a>
</div-->