<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Name</th><th>GPA</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a> <%= rs[i].companyName %></a></td>
            <td><a> <%= rs[i].averageGPA %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No accounts are entered into the Account database table.
    <% } %>
</div>
