<%include partials/header %>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS 355 Lab 8</a>
    </br>
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
    </br>
    <a href="helloworld.html">Relative Link Example</a>
    </br>
    <a href="/templatelink">Template Link Example</a>
    </br>
    </br>

    <h1>Authentication Example</h1>
    <a href="/login">Login</a><br />
    <a href="/logout">Logout</a>


<h1>User</h1>
    <a href="/accounts/?account_id=1">Account By Id</a>
    </br>
    <a href="accounts/all">All accounts</a>
    </br>

    <h1>Company</h1>
    <a href="/company/all">All companies</a>
    </br>

    <h1>resume</h1>
    <a href="/resume/all">All resumes</a>
    </br>

    <h1>schools</h1>
    <a href="/schools/all">All schools</a>
    </br>

    <h1>Jobs</h1>
    </br>

    <h1>education</h1>
    </br>

    <h1>skills</h1>
    </br>

    <h1>address</h1>
    </br>

    <h1>resume company</h1>
    </br>

    <h1>user company</h1>
    </br>

    <h1>Other(from lab 09)</h1>
    <a href="/userJob/all">User Jobs</a>
    </br>
    <a href="/gpa/all">Company GPAs</a>
    </br>
<%include partials/footer %>