
<% include partials/header %>
<!-- .this is an HTML comment -->
<!-- .the <form> html tag tells the browser that you are creating a form
     .the action attribute in <form> is the web page location for where the information will be sent that the user enters
     .the web url in this example is relative, based on the url in the web browser.  In this example the url in the
       should be http://localhost:3000/users/create/

       .when the form is submitted it will send the form information to http://localhost:3000/users/save/
       .if action attribute was /save/, then the information would go to http://localhost:3000/save/
       .if it was save/, then it would go to http://localhost:3000/create/save/
       .if it was an absolute url, like http://google.com/, it would send the information to http://google.com/
       .if the action attribute was an empty string, or wasn't present, the form is submitted back to the same page.
-->
<div id="message" style="display: none">this div is hidden</div>
<form id="userFormCreate" action="/users/save/">
    <% /* .this is an EJS comment */ %>
    <% /* .the <label> tag is for sloppy clickers, so if the click the First Name text it will place their mouse cursor
     in the firstname input text box.  the for attribute must match the input text box it is associated with.
     in the first casse it is firstname.

     .when the <input> tag's type attribute is set to "text" the browser will render an single input text box

     .the <input> tag's id attribute allows you to interact with it using JavaScript.  We will get to that later.

     .the <input tag's name attribute will be the variable name we use to access the value the user enter's
     when it is submitted to the web server.

     .the <br /> (break) tag creates a new line.
     */ %>
    <label for="firstname">First Name</label> <input type="text" id="firstname" name="firstname" /><br />
    <label for="lastname">Last Name</label> <input type="text" id="lastname" name="lastname" /><br />
    <label for="email">Email</label> <input type="text" id="email" name="email" /><br />

    <!-- .the <input> password type, obscures the letters the user sees when typing in text. Otherwise it functions
            exactly as the <input> text type -->
    <label for="password">Pasword</label> <input type="password" id="password" name="password" /><br />


    <label for="foundBy">How did you hear about us?</label><br />
    <!--select id="foundby_id" name="foundby_id"> </select-->
    <div id="foundByOptions"></div>

    <label for="bio">About Me</label><br />
    <textarea id="bio" name="bio" style="width:400px;height:150px"></textarea>
    <!-- .the <input> type submit, creates a button. If the button is within the <form></form> tags, when it is clicked
          it will send the form information to the url specified in the action attribute.
    -->
    </br>
    <input type="submit" />
</form>
</br>
<a href="/">Home</a>
</br>
<a href="/login">Log In?</a>

<script src="/js/foundby.js"></script>
<script src="/js/userFormCreate.js"></script>

<% include partials/footer %>
